/* @font-face start*/
@font-face {
	font-family: 'Ahellya Italic';
	src: url(../fonts/ahellya-italic.ttf);
}
@font-face {
  font-family: 'Cormorant BoldItalic';
  src: url(../fonts/Cormorant-BoldItalic.otf) format("opentype");
}
@font-face {
  font-family: 'Cormorant talic';
  src: url(../fonts/Cormorant-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'CormorantGaramond BoldItalic';
  src: url(../fonts/CormorantGaramond-BoldItalic.otf) format("opentype");
}
@font-face {
  font-family: 'CormorantInfant BoldItalic';
  src: url(../fonts/CormorantInfant-BoldItalic.otf) format("opentype");
}
@font-face {
	font-family: 'Geometric';
	src: url(../fonts/Geometric.ttf);
}
@font-face {
  font-family: 'HelveticaNeueCyr Bold';
  src: url(../fonts/HelveticaNeueCyr-Bold.otf) format("opentype");
}
@font-face {
  font-family: 'HelveticaNeueCyr BoldItalic';
  src: url(../fonts/HelveticaNeueCyr-BoldItalic.otf) format("opentype");
}
@font-face {
  font-family: 'HelveticaNeueCyr Italic';
  src: url(../fonts/HelveticaNeueCyr-Italic.otf) format("opentype");
}
@font-face {
  font-family: 'HelveticaNeueCyr Light';
  src: url(../fonts/HelveticaNeueCyr-Light.otf) format("opentype");
}
@font-face {
  font-family: 'HelveticaNeueCyr Medium';
  src: url(../fonts/HelveticaNeueCyr-Medium.otf) format("opentype");
}
@font-face {
  font-family: 'HelveticaNeueCyr Thin';
  src: url(../fonts/HelveticaNeueCyr-Thin.otf) format("opentype");
}
@font-face {
	font-family: 'Raleway Regular';
	src: url(../fonts/Raleway-Regular.ttf);
}
/* @font-face end*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.3s ease-in;
}
html, body, .container {
  height: 100%;
  // background-color: #000;
}
header, section {
  display: block;
}
img {
	max-width: 100%;
	height: auto;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
/*header start*/
header {
	background: url('../img/header_bg.png') no-repeat;
	color: #fff;
	height: 100%;

	.menu {
		width: 80px;
		height: 100%;
		line-height: 1;
		position: fixed;
		background-color: #0e1a21;
		float: left;

		.menu__logo {
			height: 135px;
			line-height: 135px;
			text-align: center;
			background-color: #000;
			a {
				margin: 0 auto;
				img {
					vertical-align: middle;
				}
			}
		}
		.menu__content {
			height: 87.5%;
			position: relative;

			.menu__content_lang {
				font-family: 'HelveticaNeueCyr Medium';
				font-size: 24px;
	  			color: rgba(243, 242, 242, 0.278);
	  			line-height: 1.5;
	  			text-align: center;
	  			// margin-top: 40px;
	  			position: absolute;
				top: 5%;
				left: 0;
				right: 0;
	  			cursor: pointer;
			}
			.menu__content_button {
				width: 27px;
				height: 23px;
				cursor: pointer;
				margin: 0 auto;
				position: absolute;
				top: 40%;
				left: 0;
				right: 0;

				span {
					background-color: #fff;
					display: block;
					width: 100%;
					height: 3px;
					margin-bottom: 5px;
				}
				span:last-child {
					margin-bottom: 0;
				}
				.menu__content_button_line-short {
					width: 17px;
				}
				.menu__content_button_line-middle {
					width: 22px;	
				}
			}
			.menu__content_button:hover {
				.menu__content_button_line-short {
					width: 100%;
				}
				.menu__content_button_line-middle {
					width: 100%;	
				}
			}
			.menu__content_social-button {
				width: 100%;
				height: 32px;
				background: url('../img/menu_social-buttons.png') center bottom no-repeat;
				cursor: pointer;
				position: absolute;
				bottom: 10%;
				left: 0;
				right: 0;
			}
			.menu__content_social-button:hover {
				width: 100%;
				height: 32px;
				background: url('../img/menu_social-buttons_hover.png') center bottom no-repeat;
			}
		}
	}
	.menu__open {
		width: 50%;
		height: 100%;
		background-color: #0e1a21;
		display: none;

		.menu__open_logo {
			width: 100%;
			height: 12.5%;
			background-color: #fff;
			text-align: center;

			img {
				padding-top: 1%;
				max-width: 50%;
			}
		}
		.menu__open_title {
			width: 100%;
			height: 12.5%;
			.menu__open_title-name {
				width: 95%;
				float: left;
				font-size: 42px;
  				font-family: "HelveticaNeueCyr Light";
  				color: rgb(243, 242, 242);
  				font-weight: bold;
  				line-height: 1.429;
  				text-align: left;
  				padding-left: 8%;
  				span {
  					font-family: "HelveticaNeueCyr Bold";
  				}
			}
			.menu__open_title-lang {
				float: right;
				width: 5%;
				a {
					color: #4e565b;
					text-decoration: none;
					font-size: 24px;
  					font-family: "HelveticaNeueCyr Medium";
  					font-weight: bold;
  					line-height: 1.5;
				}
				a:hover {
					color: #e40000;
				}
			}
		}
		.menu__open_content {
			clear: both;
			height: 100%;
			.menu__open_content-mainMenu {
				margin-left: 10%;
				width: 30%;
				height: 100%;
				float: left;
				ul {
					list-style-type: none;
					padding: 0;
					li {
						a {
							text-decoration: none;
							font-size: 18px;
  							font-family: "HelveticaNeueCyr Thin";
  							color: rgb(255, 255, 255);
  							font-weight: bold;
  							line-height: 1.5;
						}
						a:hover {
							font-family: "HelveticaNeueCyr Bold";
						}
					}
				}
			}
			.menu__open_content-subMenu {
				width: 55%;
				height: 100%;
				float: left;
			}
			.menu__open_content-buttons {
				float: right;
				.menu__open_close-button {
					cursor: pointer;
					img {
						padding-right: 26px;
						padding-top: 800%;
						float: right;
					}
				}
				.menu__open_social-button {
					cursor: pointer;
					img {
						padding-top: 700%;
					}
				}
			}
		}
	}
	.header__content {
		margin-left: 80px;
	}
	.header__content_inner {
		width: 100%;
		max-width: 76%;
		margin: 0 auto;

		h1 {
			font-size: 140px;
  			font-family: 'Geometric';
  			color: rgb(255, 255, 255);
  			font-weight: bold;
  			text-transform: uppercase;
			text-align: right;
			padding-top: 5%;
		}
		p {
			font-size: 26px;
			font-family: 'HelveticaNeueCyr Thin';
			color: rgb(255, 255, 255);
			font-weight: bold;
			line-height: 1.2;
			text-align: right;
			padding-top: 5%;
		}
		h2 {
			font-size: 55px;
  			font-family: 'Cormorant Italic';
  			color: rgb(255, 255, 255);
  			line-height: 1.2;
  			text-align: left;
  			padding-top: 5%;
		}
		p:last-child {
			font-size: 24px;
			font-family: 'HelveticaNeueCyr Light';
			color: rgb(255, 255, 255);
			font-weight: bold;
			line-height: 1.2;
			text-align: left;
			padding-top: 2%;

			span {
				font-size: 18px;
				font-family: 'HelveticaNeueCyr Light';
				color: #898989;
				line-height: 1.2;
				text-align: left;
			}
		}
	}
}
/*header end*/

/*content start*/

/*content end*/

/*footer start*/
footer {

}
/*footer end*/