nav {
    weihgt:900px;
    height:30px;
    background-color:#8A2BE2;
    vertical-align:baseline;
    font: Impact;
}
nav li {
    text-align:center;
    line-height:30px;
    display:block;
    float:left;
    list-style-type:none;
}
a {
    color:white;
    font-weight:bold;
    text-decoration:none;
    margin-left:20px;
}
li .current {
    color:grey;
    background-color:white;
}
li .clear {
    clear:both;
}
li .more {
    float:right;
}