body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
}
.content {
	margin-top: 32px;
}
.first__block, .second__block, .third__block {
	height: 460px;
}
.first__block_inner, .second__block_inner, .third__block_inner {
	text-align: center;
	width: 100%;
	border: 1px solid #dcdcdc;
	border-top: 2px solid #f97d19;
/*	height: 100%;*/
}
.first__block_inner {
	margin-right: 2%;
}
.second__block_inner {
	margin-left: 1%;
	margin-right: 1%;
}
.third__block_inner {
	margin-left: 2%
}
.first__block_inner img, .second__block_inner img, .third__block_inner img {
	margin-top: 100px;
}
.first__block_inner h2, .second__block_inner h2, .third__block_inner h2 {
	margin-top: 100px;
	font-size: 38px;
	text-transform: uppercase;
	color: #000;
}
.first__block_inner h2 {
	margin-top: 87px;
}
.first__block_more, .second__block_more, .third__block_more {
	margin-top: 45px;
	height: 40px;
	border: 0;
	background: url('../img/right_arrow.png') center center no-repeat;
	background-color: #f1f1f1;
}
.first__block_more {
	margin-top: 43px;
}
.second__block_more {
	margin-top: 46px;
}
.first__block_more:hover, .second__block_more:hover, .third__block_more:hover {
	background: url('../img/right_arrow_hover.png') 75% center no-repeat;
	background-color: #f4821f;
	height: 70px;
	margin-top: 56px;
}
.first__block_more:hover {
	margin-top: 13px;
}
.second__block_more:hover {
	margin-top: 16px;
}
.third__block_more:hover {
	margin-top: 16px;
}
.first__block_more:hover:after, .second__block_more:hover:after, .third__block_more:hover:after {
	content: "READ MORE";
	color: #fff;
	line-height: 70px;
	font-weight: bold;
}
@media screen and (max-width: 991px){
	.first__block_inner h2, .second__block_inner h2, .third__block_inner h2 {
		font-size: 24px;
	}
}

@media screen and (max-width: 767px){
	.first__block_inner {
		margin-right: 0;
	}
	.second__block_inner {
		margin-left: 0;
		margin-right: 0;
	}
	.third__block_inner {
		margin-left: 0;
	}	
}