.container {
	position: relative;
	width: 50%;
	margin: 0 auto;	
}
.container:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.content {
	background-color: yellow;
	position: absolute;
	width: 100%;
	height: 100%;
}