@font-face {
	font-family: HelveticaNeueLTStd;
	src: url(../fonts/HelveticaNeueLTStd-Lt.otf);
}
@font-face {
	font-family: Aempirial;
	src: url(../fonts/aempirial.ttf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
