* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
	     -o-transition:all .3s;
	        transition:all .3s;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 999px;
	height: auto;
	font-family: "Times New Roman", Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	text-align: center;
	background: url('../images/bg.jpg'); 
}

img {
	max-width: 100%;
	height: auto;
}
/*block header start*/
header {
	width: auto;
	height: auto;
	margin-top: 5%;
}
.header {
	height: 453px;
	background: url('../images/header.png') top center no-repeat; 
	background-size: contain;
	border: 1px solid red;
}
.header__name-ru {
	width: 50%;
	height: 17%;
	margin-left: 5%;
	float: left;
	border: 1px solid red;
}
.header__title {
	font-size: 1.3em;
	font-style: italic;
	font-weight: bold;
	color: #333333;
	text-align: center;
	padding-top: 3%;
}
.header__contacts {
	border: 1px solid red;
	width: auto;
	background:url("../images/contacts_ico.png") left center no-repeat;
	float: right;
	font-style: italic;
	font-weight: bold;
	padding: 5px;
	padding-left: 40px;
	text-align: left;
}
.header__contacts_telephones a {
	text-decoration: none;
}
.header__contacts_telephones a:hover {
	text-decoration: underline;
}
.header__contacts_mail a {
	text-decoration: none;
}
.header__contacts_mail a:hover {
	text-decoration: underline;
}
.header__contacts_skype a {
	text-decoration: none;	
}
.header__contacts_skype a:hover {
	text-decoration: underline;	
}
/*block header end*/


/*block content start*/


/*block content end*/

/*block footer start*/
.footer {
	
}
/*block footer end*/
